server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
